.board_table {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 80px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #444;
    width: 100%;
}

th {
    border: 1px solid #444;
    padding: 10px;
}
