.menu_button {
    background: none;
    transition: background 0.3s ease;
    border: none;
    color: #FFF;
    display: block;
    width : 100%;
    height: 50px;
    margin: 20px 0;
}

.menu_button:hover {
    background: #444;
}