.menu {
    position: fixed;
    width: 250px;
    background-color: #333;
    color: #FFF;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.main_contents {
    flex: 1;
    padding: 0 0;
    background-color: #FFF;
    margin-left: 300px;
    margin-top: 0;
}