.view_customer_statistics{
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 80px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 130%;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #444444;
    padding: 10px;
}