body {
    font-family: Arial;
    background-color: #F0F0F0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-space {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    color: #333;
}

.form {
    margin-bottom: 20px;
}